.footer{
    padding-top: 67px;
    padding-bottom: 60px;
    max-width: 880px;
    
}
.footer__copyright{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0 auto;
}
@media screen and (max-width: 620px){
    .footer{
        padding-top: 48px;
        padding-bottom: 36px;
    }
    .footer__copyright{
        font-size: 14px;
        line-height: 17px;
    }
}