.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba (0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  align-items: center;
  justify-content: center;
  font-family: "inter", sans-serif;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s linear;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 10px;
  width: 430px;
  max-width: 100%;
}

.modal__close {
  background-image: url(../images/close-button.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__container_image {
  width: auto;
  height: auto;
  border-radius: 0;
  background: transparent;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-name {
  color: #ffffff;
  width: 291px;
  height: 12px;
  top: 640px;
  left: 232px;
  font-size: 12px;
}

.modal__heading {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 54px 0;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__form-input {
  margin: 0 0 30px 0;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
}

.modal__form-input-title {
  margin: 0 0 30px 0;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
}

.modal__form-input-url {
  margin: 0 0 30px 0;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
}

.modal__button {
  margin: 48px 0 0 0;
  padding: 14px 0;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .modal__container {
    width: 282px;
    max-width: 100%;
    padding: 25px 22px 25px;
  }
  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 14px);
    left: calc (100% -19px);
  }
  .modal__heading {
    font-size: 14px;
    margin-bottom: 75px;
  }
  .modal__button {
    font-size: 14px;
    height: 46px;
  }
}
